body {
    font-family: Arial;
    background-color: #f2f6f9;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 25px;
    margin-top: 40px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: #555;
}

label {
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
}

.result {
    margin-top: 20px;
    background: #f8f9fa;
    padding: 10px;
    text-align: center;
}
